<div>
    <h5 class="mb-3">Selecteer een treinkaartje</h5>

    <!-- Hotel Cards -->
    <div class="row g-3">
    </div>
</div>

<style>
    .object-fit-cover {
        object-fit: cover;
    }
</style>